{% extends "layouts/master.twig" %}

{% block content %}
    <div class="graphviz-simulation">
        {% for step in simulation.steps %}
            <h3>✉ {{ step.heading }}</h3>
            {% if step.summary %}<p>&ldquo;{{ step.summary | raw }}&rdquo;</p>{% endif %}
            <img src="{{ step.img }}" />
            <h5>Case Attributes</h5>
            <pre>{{ step.attributes }}</pre>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
